@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>AddCategory</h1>

<form asp-action="AddCategory" asp-controller="Category" method="post">


    <input type="text" asp-for="Name" placeholder=" Name" />
<select name="Type">
    <option value="income">Gelir</option>
    <option value="expense">Gider</option>
</select>

   
    <button class="btn btn-success">Ekle</button>
</form>