@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>Raporlar</h1>
<form id="charts" asp-action="Index" asp-controller="Chart" method="post">

    <input type="date" id="txtSelectedDate" name="StartDate" />
    <input type="date" id="txtSelectedDate2" name="EndDate" />

    <input type="submit" value="Tarihe Göre Filtreleme" />
    @*    <input type="submit" name="today" value="Bugün" />
        <input type="submit" name="thisWeek" value="Bu Hafta" />
        <input type="submit" name="thisMounth" value="Bu Ay" />
        <input type="submit" name="allTime" value="Tüm Zamanlar" />*@

    <button type="submit" name="btnsearch" value="today">Bugün</button>
    <button type="submit" name="btnsearch" value="thisWeek">Bu Hafta</button>
    <button type="submit" name="btnsearch" value="thisMounth">Bu Ay</button>
    <button type="submit" name="btnsearch" value="allTime">Tüm Zamanlar</button>

    @*<script type="text/javascript">
            $(function () {
                $('#txtSelectedDate').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                    language: "tr"
                });

                 $('#txtSelectedDate2').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "dd/mm/yyyy",
                    language: "tr"
                });
            });
        </script>*@

</form>


<script>
    $(document).ready(function () {

        getCharts("");

        $(document).on("click", ":submit", function (e) {

            var buttonString = "";
            var buttonName = $(this).attr("name");
            var buttonValue = $(this).val();

            if (buttonName == "btnsearch") {
                buttonString = buttonName + "=" + buttonValue + "&";
            }
          
            event.preventDefault();
            getCharts(buttonString);
        });


        function getCharts(buttonString) {

            var formData = buttonString + $('#charts').serialize()

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: formData,
                url: '@Url.Action("VisuliazeTransactionResult", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result.giderler);
                        drawChart2(result.gelirler);
                    });
                }
            });


            @*var valdata = $("#charts").serialize();
            $.ajax({
                url: '@Url.Action("VisuliazeTransactionResult2", "Chart")',
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata
            });*@
        }

    });

    function drawChart(result) {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Name');
        data.addColumn('number', 'Stoklar');

        var dataArray = [];

        $.each(result, function (i, obj) {
            dataArray.push([obj.categoryname, obj.transactionamount]);
        });
        data.addRows(dataArray);

        var columnChartOptions = {
            title: "Gider Tablosu",
            width: 1000,
            height: 400,
            bar: { groupWidth: "20%" },
        };

        var columnChart = new google.visualization.PieChart(document
            .getElementById('Piechart_div'));

        columnChart.draw(data, columnChartOptions);
    }


    function drawChart2(result) {
        var data2 = new google.visualization.DataTable();

        data2.addColumn('string', 'Name');
        data2.addColumn('number', 'Stoklar');

        var dataArray2 = [];

        $.each(result, function (i, obj) {
            dataArray2.push([obj.categoryname, obj.transactionamount]);
        });
        data2.addRows(dataArray2);

        var columnChartOptions2 = {
            title: "Gelir Tablosu",
            width: 1000,
            height: 400,
            bar: { groupWidth: "20%" },
        };

        var columnChart2 = new google.visualization.PieChart(document
            .getElementById('Piechart2_div'));

        columnChart2.draw(data2, columnChartOptions2);
    }

</script>

<div id="Piechart_div"></div>
<div id="Piechart2_div"></div>
