@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menü</h3>
        <a href="/transaction/index" class="w3-bar-item w3-button">Genel İşlemler</a>
        <a href="/income/index" class="w3-bar-item w3-button">Gelirler</a>
        <a href="/expense/index" class="w3-bar-item w3-button">Giderler</a>
        <a href="/category/index" class="w3-bar-item w3-button">Kategoriler</a>
        <a href="/chart/Index" class="w3-bar-item w3-button">Rapor Pie Chart</a>
        <a href="/chart/Index2" class="w3-bar-item w3-button">Rapor Line Chart</a>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        <a href="/Identity/Account/Logout" class="w3-bar-item w3-button">Çıkış</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Kişisel Finans Takip Uygulaması</h1>
        </div>

        <div class="w3-container body">
            @RenderBody()
        </div>
    </div>

</body>
</html>
