@model Transaction
@{
    ViewData["Title"] = "UpdateIncome";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>Gelir Güncelle</h1>

<form asp-action="UpdateIncome" asp-controller="Income" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="text" asp-for="Name" />
    <input type="text" asp-for="Amount" />
    <input type="date" asp-for="Date" placeholder="Tarih" />

     @Html.DropDownListFor(x => x.Category.CategoryId, (List<SelectListItem>
       )ViewBag.kategoriListele, new { @class = "form-control" })

    <button>Güncelle</button>


</form>